{% extends 'base.html.twig' %} {% block title %}Tous les savons - Lushie{%
endblock %} {% block meta_description %}Découvrez tous nos savons naturels avec
leurs caractéristiques détaillées, notes de la communauté et ajoutez vos
favoris.{% endblock %} {% block importmap %}
{{ importmap(["app", "burger"]) }}

{% endblock %} {% block body %}
<section class="sec-soaps_page">
    <div class="container">
        <h1 class="highlight-white">TOUS LES SAVONS</h1>
        <p class="intro">
            Un espace pour explorer différents savons, découvrir leurs
            caractéristiques, consulter les notes attribuées par la communauté
            et enregistrer vos préférés dans vos favoris.
        </p>

        <div class="soap-cards">
            {% for soap in soaps %}
            <a
                href="{{ path('app_soap_show', { id: soap.id }) }}"
                class="card-link"
            >
                <div class="card">
                    {% if soap.media|length > 0 %}
                    <div class="soap-images">
                        {% for image in soap.media %}
                        <img
                            src="{{ asset('uploads/soaps/' ~ image.filePath) }}"
                            alt="Image du savon {{ soap.name }}"
                            loading="lazy"
                        />
                        {% endfor %}
                    </div>
                    {% endif %} {% set totalRatings = soap.ratings|length %} {%
                    set average = totalRatings > 0 ? (soap.ratings|map(r =>
                    r.note)|reduce((carry, n) => carry + n) /
                    totalRatings)|round(0, 'floor') : 0 %}

                    <div class="rating-static">
                        <p>{{ totalRatings }}</p>
                        {% for i in 1..5 %}
                        <span
                            class="star {% if i <= average %}active{% endif %}"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 24 24"
                                width="24"
                                height="24"
                            >
                                <polygon
                                    points="12,2 15,9 22,9 17,14 19,21 12,17 5,21 7,14 2,9 9,9"
                                    fill="currentColor"
                                />
                            </svg>
                        </span>
                        {% endfor %}
                    </div>

                    <h2>{{ soap.name }}</h2>
                    <p>{{ soap.description }}</p>
                </div>
            </a>

            {% else %}
            <p>Aucun savon trouvé.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
