{% extends 'base.html.twig' %} {% block title %}Comparateur de savons{% endblock
%} {% block importmap %}
{{ importmap(["app", "comparator", "burger"]) }}
{% endblock %}{% block body %}
<section class="comparator-page">
    <div class="container">
        <h1>Comparer les savons</h1>

        <div class="soap-container">
            {% for i in [0, 1] %}
            <div class="soap-select">
                <select class="select-soap-dropdown" data-index="{{ i }}">
                    <option value="">Sélectionné</option>
                    {% for soap in soaps %} {% set firstMedia = soap.media|first
                    %}
                    <option
                        value="{{ soap.id }}"
                        data-image="{{ firstMedia ? asset('uploads/soaps/' ~ firstMedia.filePath) : '' }}"
                        data-action="{{ soap.action }}"
                        data-usage="{{ soap.utilization }}"
                        data-skin="{{ soap.skinType }}"
                        data-effect="{{ soap.effect }}"
                        data-risk="{{ soap.precautions }}"
                    >
                        {{ soap.name }}
                    </option>
                    {% endfor %}
                </select>
                <img src="" alt="Savon {{ i + 1 }}" class="soap-image" />
            </div>
            {% endfor %}
        </div>

        <button class="compare-btn">Comparer</button>

        <table class="comparison-table" style="display: none">
            <thead>
                <tr>
                    <td>Résultat</td>
                    <td><span class="soap1-name"></span></td>
                    <td><span class="soap2-name"></span></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>⚡ Action</td>
                    <td class="soap1-action"></td>
                    <td class="soap2-action"></td>
                </tr>
                <tr>
                    <td>🧼 Usage</td>
                    <td class="soap1-usage"></td>
                    <td class="soap2-usage"></td>
                </tr>
                <tr>
                    <td>🧴 Type de peau</td>
                    <td class="soap1-skin"></td>
                    <td class="soap2-skin"></td>
                </tr>
                <tr>
                    <td>✨ Effet</td>
                    <td class="soap1-effect"></td>
                    <td class="soap2-effect"></td>
                </tr>
                <tr>
                    <td>⚠️ Risque</td>
                    <td class="soap1-risk"></td>
                    <td class="soap2-risk"></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

{% endblock %}
